body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eabcff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.quiz-container {
    background: white;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 12, 12);
    padding: 5px;
}

.option {
    background: #5fbed1;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #98dadf;
    /* subtle hover effect */
}

.correct {
    background-color: #61ea81 !important;
    /* green for correct */
    color: white;
}

.incorrect {
    background-color: #f3606e !important;
    /* red for incorrect */
    color: white;
}

#nextBtn {
    padding: 10px 20px;
    background: rgb(105, 103, 105);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

#nextBtn:disabled {
    background: #aaa;
    cursor: not-allowed;
}

#score {
    font-size: 10px;
    margin-top: 20px;
    font-weight: bold;
}

#resetBtn {
    display: none;
    padding: 10px 20px;
    background: violet;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#resetBtn:hover {
    background: #eabcff;
}


#progressContainer {
    background-color: #f7f8e7;
    width: 100%;
    border-radius: 20px;
    height: 20px;
}

#progressBar {
    width: 0%;
    background-color: rgb(134, 231, 140);
    height: 90%;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.4s ease;

}

#prevBtn {
    display: none;
    padding: 10px 20px;
    background: rgb(105, 103, 105);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#prevBtn:hover {
    background: #aaa;
}